.changelog-versions {
  font-size: 35px !important;
  font-weight: 600 !important;
  margin-top: 15px !important;
  margin-bottom: 2px !important;
}

.changelog-dates {
  font-size: 14px;
  margin-top: 2px !important;
  margin-bottom: 10px !important;
}

.datasets-title {
  font-size: 30px !important;
  font-weight: 600 !important;
  margin-top: 15px !important;
  margin-bottom: 2px !important;
}

.datasets-author-date {
  font-size: 14px;
  margin-top: 2px !important;
  margin-bottom: 10px !important;
}
